<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Restaurant Search{% endblock %}</title>

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

    <style>
        #past-searches {
            list-style-type: none;
            padding: 0;
        }
        #past-searches li {
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;
            padding-bottom: 5px;
            text-align: center; /* Center the text */
        }
        .past-search-link {
            cursor: pointer;
            color: black; /* Use the primary color from SB Admin 2 */
            text-decoration: none;
            display: block; /* Make the entire li clickable */
            padding: 5px 10px; /* Add some padding */
            font-weight: bold; /* Make the text bold */
            font-family: 'Nunito', sans-serif;
        }
        .past-search-link:hover {
            text-decoration: underline;
            background-color: #f8f9fc; /* Light background on hover */
        }
    </style>
    

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Restaurant Finder</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Past Searches
            </div>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-history"></i>
                    <span>Search History</span>
                </a>
                <div class="collapse show" id="collapsePastSearches" aria-labelledby="headingPastSearches" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <ul id="past-searches">
                            {% for search in past_searches %}
                                <li class="past-search-item ">
                                    <a href="{{ url_for('show_past_search', search_index=loop.index0) }}" class="past-search-link">{{ search.query }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" action="{{ url_for('index') }}">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" name="dining_preference">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                            </a>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Restaurant Search</h1>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            {% block app_content %}
                                <form method="POST" action="{{ url_for('index') }}">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control form-control-lg" name="dining_preference" placeholder="Enter your dining preference (e.g., 'Italian', 'seafood', 'casual')" aria-label="Dining Preference" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary btn-lg" id="button-addon2">Search</button>
                                        </div>
                                    </div>
                                </form>

                                {% if predictions %}
                                    <h2>Search Results for: {{ query }}</h2>
                                    <div class="row">
                                        {% for prediction in predictions %}
                                            <div class="col-md-6 col-lg-4">
                                                <div class="card restaurant-card shadow mb-4">
                                                    <div class="card-body">
                                                        <p class="card-text">{{ prediction|replace('\\n', '<br>')|safe }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>

                    </div>

                </div>
                </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2024</span>
                    </div>
                </div>
            </footer>
            </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    </body>

    </html>